* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #A57865, #ffffff);
  font-family: Arial, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input, select {
  width: 100%;
  padding: 12px;
  background: #e9ecef;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 20px;
  color: #000;
}

button {
  width: 100%;
  padding: 12px;
  background: #649bcf;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  margin-bottom: 20px;
}

button:hover {
  background: #92b9df;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.pesan-eror {
  padding: 12px;
  background: #fcbea4;
  border-radius: 6px;
  font-size: 16px;
  color: #aa0303;
  text-align: center;
  margin-bottom: 20px;
}
