* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width:200vh;
    background: linear-gradient(to right, #A57865, #ffffff);
    color:#000000;
}

.container {
    margin: 0 15px;
}

.form-box {
    width :100%;
    max-width: 500px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background: rgb(235, 235, 238);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(8, 8, 8);
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #649bcf;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover{
    background: #92b9df;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    color: #447eb8;
    text-decoration: none;
} 

p a:hover {
 text-decoration: underline;
}